body {
	font-size: 16px;
	color: black;
	background-color: #BEF2C2;
	font-family: Helvitica;
}

/**Header**/
#header-nav {
	background-color: #F4BCEF;
	border-radius: 0;
	border: 0;
}

.navbar-brand {
	padding-top: 25px;
}

div.navbar-brand h1{
	font-family: "Times New Roman", serif;
	color: black;
	font-size: 1.5em;
	font-weight: bold;
	margin-top: 0;
  margin-bottom: 0;
	padding-bottom: 2%;
	padding-left: 20px;
}

#title {
	position: absolute;
	left: 5px;
}

.navbar-brand a:hover, .navbar-brand a:focus, .navbar-brand a:link {
	text-decoration: none;
}

#collapsable-nav {
	margin-top: 25px;
	border-color: black;
	
}
#nav-list {
	margin-top: 0px;
	margin-bottom: 0px;
	background-color: white;

}

#beef_menu {
	border-top: 1px solid black;
	border-bottom: 1px solid black;
}

#nav-list a {
	color:  black;
	border-color: black;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #61122f;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;}

#main-content {
	position: relative;
}

div.backtotop {
	position: absolute;
	bottom: 0;
	right: 5px;
}

#chicken, #beef, #sushi {
	height: 700px;
	background-color: #fff;
	padding: 10px;
	margin-bottom: 25px;
	position: relative;

}

	
@media (min-width: 768px) {
	#header-nav {height: 65px;}
}





